@using Data
@using BlazorColorPicker
@using System.Drawing;



@code {

    [Parameter]
    public LED led { get; set; }

    private String bgcolor = "#00ff";


    private bool isOpened = false;
    private string color = "#F1F7E9";
    private string button_text = "";


    void onClickFunc()
    {

        isOpened = true;

    }

    void ClosedEvent(string value)
    {
        color = value;
        isOpened = false;
        bgcolor = color;

        set_led_color(color);
    }

    void set_led_color(string hex_color)
    {
        Color color = ColorTranslator.FromHtml(hex_color);
        led.set_rgb(color.R, color.G, color.B);
        led.set_intens(color.A);
    }

}


<ColorPicker Title="My Blazor ColorPicker" IsOpened="isOpened" Closed="ClosedEvent" MyColor="@color">
</ColorPicker>
<button class="btn btn-primary" style="background-color:@bgcolor; padding:25px" @onclick=onClickFunc>@button_text</button>
