@using Data
@using System.Drawing;
@using BlazorColorPicker


@code {

    [Parameter]
    public LED led { get; set; }

    private bool isOpened = false;
    private string color = "#00ff";//"#F1F7E9";
    private string button_text = "";

    protected override async Task OnInitializedAsync()
    {
        set_led_color(color);
    }

    void onClickFunc()
    {
        isOpened = true;
    }

    void ClosedEvent(string value)
    {
        color = value;
        isOpened = false;

        set_led_color(color);
    }

    void set_led_color(string hex_color)
    {
        Color color = ColorTranslator.FromHtml(hex_color);
        int r, g, b;
        r = color.R * 255 / 190;
        g = color.G * 255 / 190;
        b = color.B * 255 / 190;

        led.set_rgb(r,g,b);
        led.set_intens(color.A);
    }

}


<ColorPicker Title="My Blazor ColorPicker" IsOpened="isOpened" Closed="ClosedEvent" MyColor="@color">
</ColorPicker>
<button class="btn btn-primary" style="background-color:@color; padding:25px" @onclick=onClickFunc>@button_text</button>
