@using Data


@code {

    [Parameter]
    public LED led { get; set; }

    private String bgcolor = "#00ff";
    private bool edit_mode;


    void onClickFunc()
    {
        if (edit_mode)
        {
            bgcolor = "#00ff";
        }
        else
        {
            bgcolor = "#0aaa";
        }

        edit_mode = !edit_mode;

    }

}

@if (edit_mode)
{
    <button class="btn btn-primary" style="background-color:@bgcolor" @onclick=onClickFunc>Click</button>
}
else
{
    <button class="btn btn-primary" style="background-color:@bgcolor" @onclick=onClickFunc>Click</button>
}

