@page "/lightshow"

@using BlazorApp1.Data
@using BlazorApp1.Shared

@using System.Text.Json;
@using System.Text.Json.Serialization;

@inject IJSRuntime JS

<h3>lightshow</h3>

<button class="btn btn-primary" @onclick=btn_open_lightshow>Open lightshow</button>
<button class="btn btn-primary" @onclick=btn_save_lightshow>Save lightshow</button>
<button class="btn btn-primary" @onclick=btn_send_tree_lightshow>Download to tree</button>
<button class="btn btn-primary" @onclick=btn_upload_tree_lightshow>Upload from tree</button>

<br />

@code {

    // These should be possible to change with some input-fields
    private float hold_time = 0.8f;
    private float transition_time = 0.1f;

    int nr_leds = 14;
    int nr_steps = 5;

    int led_index;

    LED[,] leds;
    bool leds_initated;


    protected override async Task OnInitializedAsync()
    {
        // Create empty led-matrix
        leds = new LED[nr_leds, nr_steps];
        for(int L = 0; L < nr_leds; L++)
        {
            for(int step = 0; step < nr_steps; step++)
            {
                leds[L, step] = new LED();
            }
        }
        leds_initated = true;

        // Go print
        System.Diagnostics.Debug.Print("trocaderomust e gött");

    }


    private async Task btn_upload_tree_lightshow()
    {
        // Upload LS from tree
        System.Diagnostics.Debug.Print("uplaod btn");

        Dictionary<String, String> req_dict = new Dictionary<string, string>();

        req_dict.Add("request", "return_custom_ls");

        string req_json = JsonSerializer.Serialize(req_dict);
        var state = await JS.InvokeAsync<string>("set_tree_status2", "192.168.1.92", req_json); //127.0.0.1:5000
        System.Diagnostics.Debug.Print("TREE STATE");
        
        System.Diagnostics.Debug.Print(state);

        var model = JsonSerializer.Deserialize<Model_LS>(state);

    }


    private async Task btn_open_lightshow()
    {
        // Upload json file of a lightshow from user computer
        System.Diagnostics.Debug.Print("open btn");

    }

    private async Task btn_send_tree_lightshow()
    {
        // Send lightshow to tree
        //TODO

        System.Diagnostics.Debug.Print("sned btn");

    }


    private async Task btn_save_lightshow()
    {
        // Save lightshow to user
        System.Diagnostics.Debug.Print("Save LS btn");
    }
}


 <table class="table">

     @for(int row_index=0;row_index<=nr_leds;row_index++){
         <tr>
         @if(row_index==0){
             // Top header
             <th></th>
             @for(int step=0;step<nr_steps;step++){
                 <th>Step @step</th>
             }

         }else{
             // Each LED-row
            <th>LED @row_index</th>
            @for(int step=0;step<nr_steps;step++){
                    <td>
                        @if (leds_initated)
                        {
                            <LedButton led="@leds[row_index-1, step]" />
                        }
                 </td>
             }
         }
         </tr>       
     }
   </table>




