@page "/tree"

@inject IJSRuntime JS

<PageTitle>Tree Connection</PageTitle>

<h1>IP Address of tree</h1>
@code {
    string field_txt = "192.168.1.96";

}

<button class="btn btn-primary" @onclick="check_ip">Check Tree connection</button>

<input type="text" @bind="@field_txt" />


@code {

    private void check_ip()
    {
        //string hej = Request.HttpContext.Connection.RemoteIpAddress.ToString();

    }
}
